/* global reset / basics */
* { box-sizing: border-box; }
html,body,#root { height: 100%; margin: 0; padding: 0; }
body {
    background: var(--bg-dark);
    font-family: Inter, Inter var, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    color: var(--text-light);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a { color: var(--neon-soft); text-decoration: none; }
button { font-family: inherit; }
